
mat-card {
  margin-top: 1rem;
}

.member {
  margin-top: 5px;
  height: 25px;
}

.building,
.resource,
.crystal {
  margin: 0;
  padding: 5px 10px;
  margin-top: -1px;
}

.compact-list div{
  height: auto;
  border: 1px solid rgb(160, 160, 160);
}

.compact-list div span{
  float: right;
}