<app-loader *ngIf="loading"></app-loader>

<div fxLayout="row wrap" fxLayoutAlign="space-around" *ngIf="guild">

  <mat-card fxFlex="85%" fxFlex.sm="90%" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title>{{ guild.name }} [{{ guild.tag }}]</mat-card-title>
      <mat-card-subtitle>Level {{ guildLevel() }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Recruitment: {{ guild.recruitment }}</p>
      <p>Gold Tax: {{ guild.taxes.gold }}%</p>
      <p>{{ guild.motd }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="85%" fxFlex.sm="90%" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title>Members</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-around">
        <div *ngFor="let member of guild.members | keyvalue" fxFlex="33%" class="member">
          <a [routerLink]="['/player', { name: member.key }]">{{ member.key }}</a> {{ symbolFor(member.value) }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around" *ngIf="guild">

  <div fxFlex="85%" fxFlex.sm="90%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutGap="10px">

    <mat-card fxFlex="calc(50% - 5px)" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card-header>
        <mat-card-title>Treasury</mat-card-title>
        <mat-card-subtitle>Total Crystals: {{ getValuesTotal(guild.crystals).toLocaleString() }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-around" class="compact-list">
          
          <div *ngFor="let resource of guild.resources | keyvalue" fxFlex="100%" class="resource">
            {{ titleCase(formatWord(resource.key)) }}
            <span>{{ resource.value.toLocaleString() }}</span>
          </div>
          
          <div *ngFor="let crystal of guild.crystals | keyvalue" fxFlex="100%" class="crystal">
            {{ titleCase(formatWord(crystal.key)) }}
            <span>{{ crystal.value.toLocaleString() }}</span>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="calc(50% - 5px)" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card-header>
        <mat-card-title>Buildings</mat-card-title>
        <mat-card-subtitle>Total Building Levels: {{ getValuesTotal(guild.buildingLevels).toLocaleString() }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-around" class="compact-list">
          <div *ngFor="let building of guild.buildingLevels | keyvalue" fxFlex="100%" class="building">
            {{ titleCase(formatWord(building.key)) }}
            <span>Lv. {{ building.value }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>